* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.overlay {
    background: linear-gradient(purple,black,purple);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    gap: 40px;
}

.contact-icon {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.contact-icon:hover {
    transform: scale(1.2);
}
